<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>view</title>
    <style>
        h3 {
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>标题： <a href="/view/{{article.id}}">{{ article.title }}</a></h1>
        <div class="content">
            {{article.content}}
        </div>
    </div>
    <hr>
    <h3>评论</h3>
    {% for comment in comments %}
    <p>
        {{ comment.detail }}
    </p>
    <hr>
    {% endfor %}

    <form action="/comment/add/" method="post">
        <p>内容：<textarea name="detail"  cols="30" rows="10"></textarea></p>
        <input type="hidden" name="article" value="{{article.id}}">
        <p><input type="submit"></p>
    </form>
    <a href="/list/">返回</a>
</body>
</html>